<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Raum {{ raum_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function openEditPopup(element, regal_name) {
            const raum_name = element.getAttribute('data-raum-name');
            const newName = prompt("Bitte geben Sie den neuen Namen für das Regal ein:", regal_name);
            if (newName !== null && newName !== regal_name) {
                fetch(`/edit_regal/${raum_name}/${regal_name}`, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({new_name: newName})
                }).then(response => {
                    window.location.reload();
                });
            }
        }
    </script>
</head>
<body>
    <!-- Suchleiste -->
    <div class="search-bar">
        <form action="{{ url_for('suchen') }}" method="get">
            <input type="text" name="suchtext" placeholder="Suchen...">
            <button type="submit"><img src="{{ url_for('static', filename='lupe.png') }}" alt="Suche"></button>
        </form>
    </div>

    <div class="container">
        <h1>Raum: {{ raum_name }}</h1>
        <form action="{{ url_for('add_regal', raum_name=raum_name) }}" method="post">
            <input type="text" name="regal_name" placeholder="Neues Regal">
            <button type="submit">Regal hinzufügen</button>
        </form>
        <ul class="regal-liste">
            {% for regal_name in regale %}
            <li>
                <!-- Formular zum Anzeigen des Regals ersetzt den Link -->
                <form action="{{ url_for('regal', raum_name=raum_name, regal_name=regal_name) }}" method="get">
                    <button type="submit" class="regal-anzeigen">{{ regal_name }}</button>
                </form>
                <button onclick="openEditPopup(this, '{{ regal_name }}')" data-raum-name="{{ raum_name }}">
                    <img src="{{ url_for('static', filename='edit_icon.png') }}" alt="Editieren">
                </button>
                <form action="{{ url_for('delete_regal', raum_name=raum_name, regal_name=regal_name) }}" method="post" style="display: inline;">
                    <button type="submit">Löschen</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('index') }}">Zurück zur Hauptseite</a>
    </div>
</body>
</html>
