<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Box {{ box_name }} im Regal {{ regal_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function editItem(element, item_id, field, current_value) {
            const newName = prompt("Bitte geben Sie den neuen Wert ein:", current_value);
            if (newName !== null && newName !== current_value) {
                const url = `/edit_item/${item_id}`;  // Verwendung der direkten URL mit der item_id
                fetch(url, {
    method: 'POST',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({field: field, value: newName})
})
.then(response => {
                    if (response.ok) {
                        window.location.reload();  // Neuladen der Seite bei erfolgreicher Aktualisierung
                    } else {
                        alert('Fehler beim Aktualisieren des Items');  // Fehlermeldung bei nicht erfolgreicher Aktualisierung
                    }
                }).catch(error => console.error('Error:', error));  // Konsolenfehlermeldung bei Fehler in der Anfrage
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Box: {{ box_name }} im Regal {{ regal_name }}</h1>
        <form action="{{ url_for('add_item', raum_name=raum_name, regal_name=regal_name, box_name=box_name) }}" method="post">
            <input type="text" name="item_name" placeholder="Name des Objekts" required>
            <input type="text" name="item_beschreibung" placeholder="Beschreibung des Objekts" required>
            <input type="number" name="item_anzahl" min="1" value="1" required>
            <button type="submit">Objekt hinzufügen</button>
        </form>
        <ul class="item-liste">
            {% for item in objekte %}
            <li>
                <div>Name: <span onclick="editItem(this, '{{ item.id }}', 'name', '{{ item.name }}')" data-raum-name="{{ raum_name }}" data-regal-name="{{ regal_name }}" data-box-name="{{ box_name }}">{{ item.name }}</span></div>
                <div>Beschreibung: <span onclick="editItem(this, '{{ item.id }}', 'beschreibung', '{{ item.beschreibung }}')" data-raum-name="{{ raum_name }}" data-regal-name="{{ regal_name }}" data-box-name="{{ box_name }}">{{ item.beschreibung }}</span></div>
                <div>Anzahl: <span onclick="editItem(this, '{{ item.id }}', 'anzahl', '{{ item.anzahl }}')" data-raum-name="{{ raum_name }}" data-regal-name="{{ regal_name }}" data-box-name="{{ box_name }}">{{ item.anzahl }}</span></div>
                <form action="{{ url_for('delete_item', raum_name=raum_name, regal_name=regal_name, box_name=box_name, item_id=item.id) }}" method="post">
                    <button type="submit" name="delete" value="delete">Löschen</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('regal', raum_name=raum_name, regal_name=regal_name) }}">Zurück zum Regal</a>
    </div>
</body>
</html>
